.html{
    width: 1263px;
    height: 668px;
    box-sizing: border-box;
}

*, ::before, *::after{
    box-sizing: inherit;
}


#sc_bg{
    position: relative;

    width: 620px;
    height: 190px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 30px;
    border-radius: 10px;
    float: left;
}

#pf_bg{
    width: 338px;
    height: 190px;
    background: #C4C4C4;
    float: left;
    position: relative;
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 30px;
    border-radius: 10px;
    display: block;
}

#controlset_bg{
    background: #C4C4C4;
    width: 620px;
    height: 381px;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}

#controlMS_bg{
    width: 220px;
    height: 381px;
    background: #C4C4C4;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 10px;
    position: relative;
    justify-content: center;
    display: flex;
}

#serve_p1{
    position: absolute;
    width: 10px;
    height: 50px;
    background: #63E1F6;
    left: 50px;
    top: 75px;
    opacity: 1;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}


#p1_box{
    position: absolute;
    width: 275px;
    height: 50px;
    left: 60px;
    top: 75px;
    background: #0F1A28;
    align-items: center;
    display: flex;
}

#p1_textname{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    color: #E8F1F2;  
    margin-left: 10px;
}

#p2_box{
    position: absolute;
    width: 275px;
    height: 50px;
    left: 60px;
    top: 125px;
    background: #0F1A28;
    align-items: center;
    display: flex;
}

#p2_textname{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    color: #E8F1F2;  
    margin-left: 10px;
}

#main_score_bg_p1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 330px;
    top: 75px;
    background: #0F1A28;
    display: flex;
}

#main_score_rgb_p1{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
    background: #63E1F6;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p1_ms_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #0F1A28;
    z-index: 2;
}

#main_score_bg_p2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 330px;
    top: 125px;
    background: #0F1A28;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_score_rgb_p2{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5px;
    top: 5px;
    background: #63E1F6;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p2_ms_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #0F1A28;
    z-index: 2;
}

#set1_p1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 380px;
    top: 75px;
    background: #0F1A28;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(-100%);
}

#set1_p1.hide {
    opacity: 1;
    transform: translateX(0%);
  }

#set1_p1_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #E8F1F2;
    
}

#set1_p2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 380px;
    top: 125px;
    background: #0F1A28;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(-100%);
}

#set1_p2.hide{
    opacity: 1;
    transform: translateX(0%);
  }

#set1_p2_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #E8F1F2;

}
#set2_p1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 430px;
    top: 75px;
    background: #0F1A28;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(-100%);
}

#set2_p1.hide {
    opacity: 1;
    transform: translateX(0%);
  }

#set2_p1_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #E8F1F2;
    
}

#set2_p2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 430px;
    top: 125px;
    background: #0F1A28;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(-100%);
}

#set2_p2.hide{
    opacity: 1;
    transform: translateX(0%);
  }

#set2_p2_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #E8F1F2;

}

#p1input{
    position: absolute;
    width: 140px;
    height: 14px;
    left: 700px;
    top: 60px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #4F6D7A;
}

#p1{
    position: absolute;
    width: 236px;
    height: 45px;
    left: 700px;
    top: 71px;
    background: #E8F1F2;
    border: none;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    font-family: Roboto Condensed;
    font-style: normal;
    font-size: 16px;
  }
  
  input[type=text]:focus {
    background-color: lightblue;
  }

  #btn_p1_name{
    position: absolute;
    width: 42px;
    height: 42px;
    left: 956px;
    top: 79px;
    background: #38B000;
    border: none;
    color: inherit;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    }

    #btn_p1_name:hover {
        background-color: #3e8e41;
      }
  
  #p2input{
    position: absolute;
    width: 140px;
    height: 14px;
    left: 700px;
    top: 144px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #4F6D7A;
}

#p2{
    position: absolute;
    width: 236px;
    height: 45px;
    left: 700px;
    top: 155px;
    background: #E8F1F2;
    border: none;
}

#set1_control_header{
    position: absolute;
    width: 178px;
    height: 30px;
    left: 20px;
    top: 20px;
    background: #4F6D7A;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #EDF2FB;
    justify-content: center;
}

#set1_control_main{
    background: url(/img/form1.png);
    position: relative;
    width: 178px;
    height: 130px;
    left: 20px;
    top: 50px;
}

#smtx1{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 5px;
}

#smtx2{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 45px;
}
#smtx3{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 86px;
}

#s1_show{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 91px;
    top: 10px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#p1_plus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 91px;
    top: 50px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#p1_minus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 136px;
    top: 50px;
    background: #DC2F02;
    border: none;
    cursor: pointer;
}

#p2_plus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 91px;
    top: 90px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#p2_minus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 136px;
    top: 90px;
    background: #DC2F02;
    border: none;
    cursor: pointer;
}

#s2_p1_plus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 91px;
    top: 50px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#s2_p1_minus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 136px;
    top: 50px;
    background: #DC2F02;
    border: none;
    cursor: pointer;
}

#s2_p2_plus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 91px;
    top: 90px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#s2_p2_minus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 136px;
    top: 90px;
    background: #DC2F02;
    border: none;
    cursor: pointer;
}

#set3_p1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 480px;
    top: 75px;
    background: #0F1A28;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(-100%);

}

#set3_p1.hide {
    opacity: 1;
    transform: translateX(0%);
  }

#set3_p1_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #E8F1F2;
}

#set3_p2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 480px;
    top: 125px;
    background: #0F1A28;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(-100%);
}

#set3_p2.hide {
    opacity: 1;
    transform: translateX(0%);
  }

#set3_p2_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #E8F1F2;
}

#set4_p1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 530px;
    top: 75px;
    background: #0F1A28;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(-100%);

}

#set4_p1.hide {
    opacity: 1;
    transform: translateX(0%);
  }

#set4_p1_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #E8F1F2;
}

#set4_p2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 530px;
    top: 125px;
    background: #0F1A28;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(-100%);
}

#set4_p2.hide {
    opacity: 1;
    transform: translateX(0%);
  }

#set4_p2_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #E8F1F2;
}

#set5_p1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 580px;
    top: 75px;
    background: #0F1A28;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(-100%);

}

#set5_p1.hide {
    opacity: 1;
    transform: translateX(0%);
  }

#set5_p1_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #E8F1F2;
}

#set5_p2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 580px;
    top: 125px;
    background: #0F1A28;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(-100%);
}

#set5_p2.hide {
    opacity: 1;
    transform: translateX(0%);
  }

#set5_p2_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #E8F1F2;
}

#s3_p1_plus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 91px;
    top: 50px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#s3_p1_minus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 136px;
    top: 50px;
    background: #DC2F02;
    border: none;
    cursor: pointer;
}

#s3_p2_plus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 91px;
    top: 90px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#s3_p2_minus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 136px;
    top: 90px;
    background: #DC2F02;
    border: none;
    cursor: pointer;
}

#set2_control_header{
    position: absolute;
    width: 178px;
    height: 30px;
    left: 20px;
    top: 201px;
    background: #4F6D7A;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #EDF2FB;
    justify-content: center;
}

#set2_main{
    background: url(/img/form1.png);
    position: relative;
    width: 178px;
    height: 130px;
    left: 20px;
    top: 101px;
}

#smtx1_s2{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 5px;
}

#smtx2_s2{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 45px;
}
#smtx3_s2{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 86px;
}

#s2_show{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 91px;
    top: 10px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#set3_control_header{
    position: absolute;
    width: 178px;
    height: 30px;
    left: 221px;
    top: 20px;
    background: #4F6D7A;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #EDF2FB;
    justify-content: center;
}

#set3_main{
    background: url(/img/form1.png);
    position: relative;
    width: 178px;
    height: 130px;
    left: 221px;
    top: -210px;
}

#smtx1_s3{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 5px;
}

#smtx2_s3{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 45px;
}
#smtx3_s3{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 86px;
}

#s3_show{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 91px;
    top: 10px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#set4_control_header{
    position: absolute;
    width: 178px;
    height: 30px;
    left: 221px;
    top: 201px;
    background: #4F6D7A;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #EDF2FB;
    justify-content: center;
}

#set4_main{
    background: url(/img/form1.png);
    position: relative;
    width: 178px;
    height: 130px;
    left: 221px;
    top: -159px;
}

#smtx1_s4{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 5px;
}

#smtx2_s4{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 45px;
}
#smtx3_s4{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 86px;
}

#s4_show{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 91px;
    top: 10px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#s4_p1_plus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 91px;
    top: 50px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#s4_p1_minus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 136px;
    top: 50px;
    background: #DC2F02;
    border: none;
    cursor: pointer;
}

#s4_p2_plus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 91px;
    top: 90px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#s4_p2_minus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 136px;
    top: 90px;
    background: #DC2F02;
    border: none;
    cursor: pointer;
}

#set5_control_header{
    position: absolute;
    width: 178px;
    height: 30px;
    left: 422px;
    top: 20px;
    background: #4F6D7A;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #EDF2FB;
    justify-content: center;
}

#set5_main{
    background: url(/img/form1.png);
    position: relative;
    width: 178px;
    height: 130px;
    left: 422px;
    top: -470px;
}

#smtx1_s5{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 5px;
}

#smtx2_s5{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 45px;
}
#smtx3_s5{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #0F1A28;
    position: absolute;
    left: 10px;
    top: 86px;
}

#s5_show{
    position: absolute;
    width: 70px;
    height: 30px;
    left: 91px;
    top: 10px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#s5_p1_plus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 91px;
    top: 50px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#s5_p1_minus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 136px;
    top: 50px;
    background: #DC2F02;
    border: none;
    cursor: pointer;
}

#s5_p2_plus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 91px;
    top: 90px;
    background: #38B000;
    border: none;
    cursor: pointer;
}

#s5_p2_minus{
    position: absolute;
    width: 25px;
    height: 30px;
    left: 136px;
    top: 90px;
    background: #DC2F02;
    border: none;
    cursor: pointer;
}

#set1_p1_text.animate-plus {
	animation: a-plus 0.2s linear;
}

#set1_p2_text.plus {
	animation: a-plus 0.2s linear;
}

#set2_p1_text.animate-plus {
	animation: a-plus 0.2s linear;
}

#set2_p2_text.plus {
	animation: a-plus 0.2s linear;
}

#set3_p1_text.animate-plus {
	animation: a-plus 0.2s linear;
}

#set3_p2_text.plus {
	animation: a-plus 0.2s linear;
}

#set4_p1_text.animate-plus {
	animation: a-plus 0.2s linear;
}

#set4_p2_text.plus {
	animation: a-plus 0.2s linear;
}

#set5_p1_text.animate-plus {
	animation: a-plus 0.2s linear;
}

#set5_p2_text.plus {
	animation: a-plus 0.2s linear;
}

#p1_ms_text.animate-plus {
	animation: plus 1s cubic-bezier(0.65, 0, 0.35, 1) both;
}

#p2_ms_text.animate-plus {
	animation: plus 1s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes a-plus {
	0% {font-size: 28px;
	}
	50% {
		font-size: 36px;
	}
	100% {
		font-size: 28px;
	}
}

@keyframes plus {
	0% {transform: translateX(-40px)}
    0% {opacity: 0;} 
	100% {transform: translateX(0)}
    100% {opacity: 1;} 
}

@keyframes a-minus {
	0% {
		font-size: 28px;
	}
	50% {
		font-size: 10px;
	}
	100% {
		font-size: 28px;
	}
}


#btn_serve_p1{
    width: 80px;
    height: 40px;
    background: #FFD60A;
    border: none;
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
}

#btn_serve_p2{
    width: 80px;
    height: 40px;
    background: #FFD60A;
    border: none;
    position: absolute;
    top: 20px;
    left: 120px;
    cursor: pointer;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
}

#ms_text{
    position: absolute;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    top:80px;
    left: 37px;
}


#p1_null{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #38B000;
    border: none;
    cursor: pointer;
    left: 10px;
    top:80px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;  
}

#p1_fiveteen{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #38B000;
    border: none;
    cursor: pointer;
    left: 10px;
    top:130px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;  
}

#p1_thirty{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #38B000;
    border: none;
    cursor: pointer;
    left: 10px;
    top:180px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;  
}

#p1_forty{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #38B000;
    border: none;
    cursor: pointer;
    left: 10px;
    top:230px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;  
}

#p1_adv{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #38B000;
    border: none;
    cursor: pointer;
    left: 10px;
    top:280px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;  
}

#p2_null{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #38B000;
    border: none;
    cursor: pointer;
    left: 120px;
    top:80px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;  
}

#p2_fiveteen{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #38B000;
    border: none;
    cursor: pointer;
    left: 120px;
    top:130px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;  
}

#p2_thirty{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #38B000;
    border: none;
    cursor: pointer;
    left: 120px;
    top:180px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;  
}

#p2_forty{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #38B000;
    border: none;
    cursor: pointer;
    left: 120px;
    top:230px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;  
}

#p2_adv{
    position: absolute;
    width: 80px;
    height: 40px;
    background: #38B000;
    border: none;
    cursor: pointer;
    left: 120px;
    top:280px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;  
}

#reset{
    position: absolute;
    width: 190px;
    height: 40px;
    background: #DC2F02;
    border: none;
    cursor: pointer;
    left: 10px;
    top:330px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;  
}